<ngx-spinner></ngx-spinner>
<!--====================  breadcrumb area ====================-->
<div class="breadcrumb-area bg-img" [style.backgroundImage]="'url(../assets/img/backgrounds/funfact-bg.webp)'">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>Project Details</h1>
                    <ul class="page-breadcrumb">
                        <li><a routerLink="/home">Home</a></li>
                        <li>Project Details</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->
<div class="page-wrapper section-space--inner--120">
    <!--Projects section start-->
    <div class="project-section">
        <div class="container">
            <div class="row">

                <div class="col-12 section-space--bottom--40">
                    <div class="project-image"><img width="1170" height="439" [src]="singleProject?.mainPicture" class="img-fluid" alt=""></div>
                </div>

                <div class="col-lg-4 col-12 section-space--bottom--30">
                    <div class="project-information">
                        <h3>Project Information</h3>
                        <ul>
                            <li><strong>Client:</strong> <a href="#">{{singleProject?.projectInformation?.client}}</a></li>
                            <li><strong>Location:</strong> {{singleProject?.projectInformation?.location}}</li>
                            <li><strong>Area(sf):</strong> {{singleProject?.projectInformation?.area}}</li>
                            <li><strong>Year:</strong> {{singleProject?.projectInformation?.year}}</li>
                            <li><strong>Budget:</strong> {{singleProject?.projectInformation?.budget}}</li>
                            <li><strong>Architect:</strong> {{singleProject?.projectInformation?.architect}}</li>
                            <li><strong>Sector:</strong> {{singleProject?.projectInformation?.sector}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-12 section-space--bottom--30 pl-30 pl-sm-15 pl-xs-15">
                    <div class="project-details">
                        <h2>{{singleProject?.title}}</h2>
                        <p>{{singleProject?.description}}</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row row-5 image-popup">

                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 section-space--top--10" *ngFor="let prImg of singleProject?.productPictures">
                            <a [href]="prImg?.img" class="gallery-item single-gallery-thumb"><img width="476" height="476" [src]="prImg?.img" class="img-fluid" alt=""><span class="plus"></span></a>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Projects section end-->
</div>

<!--====================  brand logo area ====================-->
<!-- <div class="brand-logo-slider-area grey-bg section-space--inner--60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-logo-slider__container-area">
                    <div class="swiper-container brand-logo-slider__container">
                        <div class="swiper-wrapper brand-logo-slider__wrapper">
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="swiper-slide brand-logo-slider__single">
                                <div class="image">
                                    <a href="#">
                                        <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--====================  End of brand logo area  ====================-->

<!--=======  offcanvas mobile menu  =======-->



