  <!--====================  header area ====================-->
  <div class="header-area header-sticky header-sticky--default">
    <div class="header-area__desktop header-area__desktop--default">
        <!--=======  header top bar  =======-->
        <div class="header-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <!-- top bar left -->
                        <div class="top-bar-left-wrapper">
                            <div class="social-links social-links--white-topbar d-inline-block">
                                <ul>
                                    <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a></li>
                                    <li><a href="https://www.vimeo.com"><i class="fa-brands fa-vimeo"></i></a></li>
                                    <li><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-6">
                      <div class="top-bar-right-wrapper">
                      <span>
                        <i class="fa-sharp fa-solid fa-phone-arrow-up-right"></i
                        ><small
                          ><a href="tel:+91 994 593 3331">+91 994 593 3331</a></small
                        ></span
                      >
                      <span class="hideInPhone"
                        ><i class="fa-sharp fa-solid fa-phone-arrow-up-right"></i
                        ><small
                          ><a href="tel:+91 910 862 4424">+91 910 862 4424</a></small
                        ></span
                      >
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=======  End of header top bar  =======-->

        <!--=======  header navigation area  =======-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <!-- <img width="178" height="39" src="../assets/img/logo/logo.png" class="img-fluid" alt=""> -->
              <img width="178" height="39" src="../assets/img/logo/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/allServices">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/allProjects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Interior</a></li>
                    <li><a class="dropdown-item" href="#">Construction</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Architecture</a></li>
                  </ul>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about">About us</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>

        <!--=======  End of header navigation area =======-->
    </div>
</div>
<!--====================  End of header area  ====================-->
