<ngx-spinner></ngx-spinner>
<!--====================  breadcrumb area ====================-->
<div class="breadcrumb-area bg-img" [style.backgroundImage]="'url(../assets/img/backgrounds/funfact-bg.webp)'">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>Projects</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Projects</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->
<div class="page-wrapper section-space--inner--120">
    <!--Projects section start-->
    <div class="project-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-item-wrapper">
                        <div class="row">

                            <div class="col-lg-4 col-sm-6 col-12 section-space--bottom--30" *ngFor="let zzz of  allProjects">
                                <div class="service-grid-item service-grid-item--style2">
                                    <div class="service-grid-item__image">
                                        <div class="service-grid-item__image-wrapper">
                                            <a href="project-details.html">
                                                <img   [src]="zzz?.mainPicture" class="img-fluid sizeFit" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="service-grid-item__content">
                                        <h3 class="title">
                                            <a href="project-details.html">{{zzz?.title}}</a>
                                        </h3>
                                        <p class="subtitle">{{zzz?.description | slice:0:69}}...</p>
                                        <a [routerLink]="['/singleProjects',zzz?._id]" class="see-more-link">SEE MORE</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!--Projects section end-->
</div>


<!--=======  offcanvas mobile menu  =======-->



