<ngx-spinner></ngx-spinner>
    <!--====================  breadcrumb area ====================-->
    <div class="breadcrumb-area bg-img" [style.backgroundImage]="'url(../assets/img/backgrounds/funfact-bg.webp)'">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-banner text-center">
                        <h1>Service Details</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Service Details</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====================  End of breadcrumb area  ====================-->
    <div class="page-wrapper section-space--inner--120">
        <!--Service section start-->
        <div class="service-section">
            <div class="container">

                <div class="row" >

                    <div class="col-lg-8 col-12 order-1 order-lg-2">

                        <div class="service-details">

                            <div class="service-gallery">
                                <div class="swiper-container service-gallery__container">
                                    <div class="swiper-wrapper service-gallery__wrapper">
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                              <carousel
                                              [arrowsOutside]="false"
                                              [dots]="true"
                                              [height]="500"
                                              [images]="singleService?.servicePictures"
                                              [cellsToShow]="1"
                                              [loop]="true"
                                              [autoplay]="true"
                                              [autoplayInterval]="3000"
                                            ></carousel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>

                            <div class="content section-space--top--30">
                                <div class="row" >
                                    <div class="col-12">
                                        <h2>{{singleService?.title}}</h2>
                                        <p>{{singleService?.description}}</p>

                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Analysis</h3>

                                        <p>{{singleService?.projectAnalysis?.description}}</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Costing</h3>
                                        <p>{{singleService?.projectCosting?.description}}</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Planning</h3>
                                        <p>{{singleService?.projectPlanning?.description}}</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Strategy</h3>
                                        <p>{{singleService?.projectStrategy?.description}}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-12 order-2 order-lg-1">

                        <div class="sidebar">
                            <h3 class="sidebar-title">Services</h3>

                            <ul class="sidebar-list" *ngFor="let ser of servicesList">
                                <li><a [routerLink]="['/singleServices',ser?._id]"><i class="flaticon-015-cart"></i>{{ser?.serviceName}}</a></li>
                            </ul>

                        </div>



                    </div>

                </div>

            </div>
        </div>
        <!--Service section end-->
    </div>

    <!--====================  brand logo area ====================-->
    <!-- <div class="brand-logo-slider-area grey-bg section-space--inner--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-logo-slider__container-area">
                        <div class="swiper-container brand-logo-slider__container">
                            <div class="swiper-wrapper brand-logo-slider__wrapper">
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--====================  End of brand logo area  ====================-->

