
    <!--====================  breadcrumb area ====================-->
    <div class="breadcrumb-area bg-img" [style.backgroundImage]="'url(../assets/img/backgrounds/funfact-bg.webp)'">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-banner text-center">
                        <h1>Service Details</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Service Details</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====================  End of breadcrumb area  ====================-->
    <div class="page-wrapper section-space--inner--120">
        <!--Service section start-->
        <div class="service-section">
            <div class="container">

                <div class="row">

                    <div class="col-lg-8 col-12 order-1 order-lg-2">

                        <div class="service-details">

                            <div class="service-gallery">
                                <div class="swiper-container service-gallery__container">
                                    <div class="swiper-wrapper service-gallery__wrapper">
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-1.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-2.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-3.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-4.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-5.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide service-gallery__single-slide">
                                            <div class="item">
                                                <img width="770" height="450" src="assets/img/service/service-details-6.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ht-swiper-button-prev ht-swiper-button-prev-14 ht-swiper-button-nav"><i class="ion-ios-arrow-left"></i></div>
                                <div class="ht-swiper-button-next ht-swiper-button-next-14 ht-swiper-button-nav"><i class="ion-ios-arrow-forward"></i></div>
                            </div>

                            <div class="content section-space--top--30">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Construction</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sunt perspiciatis error id ipsa atque unde quis dolore nobis eum aperiam enim blanditiis pariatur inventore eius commodi consectetur ut. Totam,
                                            assumenda! Laboriosam possimus, corporis dicta!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aliquid quod, officiis unde nostrum itaque! Adipisci dolorum, ab dolor, exercitationem praesentium dolorem quo voluptatum itaque dignissimos,
                                            sit esse cupiditate. Doloremque rerum similique a nobis placeat in illum, quo quaerat, ut repellat, fuga itaque? Nihil mollitia nisi, nam, accusantium nemo consequuntur reiciendis autem dicta consequatur earum
                                            beatae dolor distinctio, debitis repudiandae?</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Analysis</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, animi? Vel quas in minima qui totam, aliquid dolores quaerat voluptatum?</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Costing</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, animi? Vel quas in minima qui totam, aliquid dolores quaerat voluptatum?</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Planning</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, animi? Vel quas in minima qui totam, aliquid dolores quaerat voluptatum?</p>
                                    </div>
                                    <div class="col-lg-6 col-12 section-space--top--30">
                                        <h3>Project Strategy</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, animi? Vel quas in minima qui totam, aliquid dolores quaerat voluptatum?</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-12 order-2 order-lg-1">

                        <div class="sidebar">
                            <h3 class="sidebar-title">Services</h3>

                            <ul class="sidebar-list">
                                <li><a href="service-details.html"><i class="flaticon-015-cart"></i>Construction</a></li>
                                <li><a href="service-details.html"><i class="flaticon-010-tank-1"></i>House Remodel</a></li>
                                <li><a href="service-details.html"><i class="flaticon-002-welding"></i>Interior Design</a></li>
                                <li><a href="service-details.html"><i class="flaticon-004-walkie-talkie"></i>Floors & Roofs</a></li>
                                <li><a href="service-details.html"><i class="flaticon-042-monitor"></i>Plumbing</a></li>
                                <li><a href="service-details.html"><i class="flaticon-050-boxes"></i>Electricity</a></li>
                            </ul>

                        </div>

                        <div class="sidebar">
                            <h3 class="sidebar-title">Download brochure</h3>

                            <ul class="sidebar-list">
                                <li><a href="service-details.html"><i class="fa fa-file-pdf-o"></i>Brochures.PDF</a></li>
                                <li><a href="service-details.html"><i class="fa fa-file-word-o"></i>Brochures.DOC</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!--Service section end-->
    </div>

    <!--====================  brand logo area ====================-->
    <div class="brand-logo-slider-area grey-bg section-space--inner--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- brand logo slider -->
                    <div class="brand-logo-slider__container-area">
                        <div class="swiper-container brand-logo-slider__container">
                            <div class="swiper-wrapper brand-logo-slider__wrapper">
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="152" height="51" src="assets/img/brand-logo/1.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="199" height="51" src="assets/img/brand-logo/2.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="217" height="51" src="assets/img/brand-logo/3.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <a href="#">
                                            <img width="225" height="51" src="assets/img/brand-logo/4.webp" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of brand logo area  ====================-->
   
    <!--=======  offcanvas mobile menu  =======-->

    <div class="offcanvas-mobile-menu" id="mobile-menu-overlay">
        <a href="javascript:void(0)" class="offcanvas-menu-close" id="mobile-menu-close-trigger">
            <i class="ion-android-close"></i>
        </a>

        <div class="offcanvas-wrapper">

            <div class="offcanvas-inner-content">
                <div class="offcanvas-mobile-search-area">
                    <form action="#">
                        <input type="search" placeholder="Search ...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Homepage One</a></li>
                                <li><a href="index-2.html">Homepage Two</a></li>
                                <li><a href="index-3.html">Homepage Three</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="menu-item-has-children">
                            <a href="service.html">Service</a>
                            <ul class="sub-menu">
                                <li><a href="service.html">Service Page</a></li>
                                <li><a href="service-details.html">Service Details Left Sidebar</a></li>
                                <li><a href="service-details-right-sidebar.html">Service Details Right Sidebar</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Project</a>
                            <ul class="sub-menu">
                                <li><a href="project.html">Project Page</a></li>
                                <li><a href="project-details.html">Project Details</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Submenu Level One</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Submenu Level Two</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Submenu Level One</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Submenu Level Two</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                                <li><a href="#">Submenu Level Three</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                        <li><a href="#">Submenu Level Two</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>



                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <div class="header-contact-info">
                            <ul class="header-contact-info__list">
                                <li><i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">(1245) 2456 012 </a></li>
                                <li><i class="ion-android-mail"></i> <a href="mailto:info@yourdomain.com">info@yourdomain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Off Canvas Widget Social Start-->
                    <div class="off-canvas-widget-social">
                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                    </div>
                    <!--Off Canvas Widget Social End-->
                </div>
            </div>
        </div>

    </div>

    <!--=======  End of offcanvas mobile menu  =======-->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="ion-android-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->
    <!-- JS
============================================ -->
